body {
	margin: 0;
	color: #555;
	background-image: url(images/tile.gif);
}
.center {
	margin: auto;
	width: 800px;
	font-family: arial, sans-serif;
}
h1 {
	font-family: "omnes-pro", arial, sans-serif;
	font-size: 46px;
	margin: 0;
}
h2 {
	font-family: "omnes-pro", arial, sans-serif;
	margin: 0;
}
h3 {
	font-family: "omnes-pro", arial, sans-serif;
	margin: 0;
}
h4 {
	color: #F3327F;
	margin: 10px 0 4px 0;
}
p {
	margin: 0;
	font-size: 14px;
}
.ribbon {
	background-color: #F3327F;
	height: 40px;
	color: white;
}
.ribbon_bottom {
	background-color: #333333;
	padding: 20px;
	color: white;
}
.logo {
	font-size: 18px;
}
.ribbon ul {
	float: left;
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	font-family: arial narrow, sans-serif;
}
.ribbon li {
	float: left;
	height:36px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}
.ribbon li:hover {
	border-bottom: 4px solid white;
}
.content {
	margin: auto;
	width: 800px;
	border-color: #eee;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
	padding: 10px;
	color: #555;
	background-color: white;
}
.twitter {
	float: right;
	display: block;
}
.clear {
	clear: both;
}
.module {
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
	border-top: 4px solid #F3327F;
	margin-top: 10px;
	color: #555;
	padding: 10px;
	background-color: white;
}
.login_button {
	float: right;
	line-height: 40px;
	color: white;
	text-decoration: none;
}
.login {
	display: none;
	box-shadow: 2px 2px 3px rgba(0,0,0,.3) inset;
	text-align: right;
}
.text {
	height: 24px;
	margin: 0 0 15px 0;
	width: 200px;
}