body {
	margin: 0;
	font-family: "omnes-pro", arial, sans-serif;
	background-image: url('images/tile.png');
}

.header {
	background-color: #F3327F;
	height: 40px;
	color: white;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.3);
	position: absolute;
	width: 100%;
}
.buffer {
	height: 40px;
}
.nav {
	height: 100px;
	margin: 0 auto 0 auto;
	background-color: white;
	padding: 20px;
}
.content {
	padding: 20px;
	background-color: white;
	margin-bottom: 20px;
}
h1 {
	float:left;
	margin: 0;
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #222;
}
h3 {
	margin: 0;
}
h4 {
	line-height: 40px;
	margin: 0;
	font-family: arial, sans-serif;
	float: left;
}
p {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 14px;
}
strong {
	margin: 0;
}
.nav ul {
	float: right;
	list-style: none;
	font-size: 22px;
	margin: 0;
}
.nav li {
	float: left;
	color: #bbb;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	margin-left: 30px;
}

.center {
	width: 800px;
	margin: auto;
	padding: 0 20px 0 20px;
	background-color: rgb(200, 200, 200);
	/* RGBa with 0.6 opacity */
	background-color: rgba(200, 200, 200, 0.6);
}
.banner_bottom {
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,.3);
	background-color: white;
	margin: auto;
	width: 800px;
	padding: 20px;
	color: #bbb;
}
.banner_bottom button {
	float: right;
}
button {
	background-color: #222;
	border-radius: 10px;
	border: 0;
	padding: 10px;
	color: white;
	font-size: 20px;
}
.content_bottom {
	background-color: white;
	float: right;
	width: 600px;
	padding: 0 20px 20px 20px;
	margin-bottom: 20px;
}
.box {
	width: 250px;
	float: left;
}
.clear {
	clear:both;
}
.title_pink {
	background-color: #F3327F;
	opacity: 0.4;
	padding: 5px;
	color: white;
}
.login_button {
	float: right;
	height: 28px;
	color: white;
	text-decoration: none;
	background-color: #F3327F;
	border-radius: 6px;
	margin-top: 6px;
	border: 0;
	font-size: 12px;
	padding: 0 10px 0 10px;
}
.login_button:hover {
	color: #F3327F;
	background-color: white;
}
.login_button:active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7) inset;
}
.blue {
	background-color: #1BAFE0;
	height: 8px;
	margin-left: 50px;
}
.pink {
	background-color: #F3327F;
	height: 8px;
}
.blog {
	background-image: url('images/ribbon.png');
	height: 100px;
	width: 50px;
	float: right;
	position: absolute;
}
.nav_side {
	width: 200px;
	float: left;
	margin-left: -40px;
}
.nav_side ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav_side li {
	list-style: none;
	height: 40px;
	padding: 10px;
}
.twitter {
	float: right;
	display: block;
}
#login {
	float: right;
	display: none;
}
.textbox {
	border: 0;
	height: 26px;
	width: 160px;
	margin: 6px 15px 0 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
}
.module {
	margin: 0 auto 0 auto;
	background-color: white;
	padding: 20px;
}
.center_module {
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: rgb(200, 200, 200);
	/* RGBa with 0.6 opacity */
	background-color: rgba(200, 200, 200, 0.6);
}
#current{
	background-color: white;
	color: #F3327F;
}
#makeMeScrollable {
	width:100%;
	position: relative;
	height: 360px;
}
		
#makeMeScrollable div.scrollableArea img {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
	  block of code. It's just a nice feature that prevent the images from
	 accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	opacity: 0.9;
}
/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	width: 25px;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(../images/cursors/cursor_arrow_left.png), url(../images/cursors/cursor_arrow_left.cur),w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(../images/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	width: 25px;
	height: 100%;
	background-image: url(../images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../images/cursors/cursor_arrow_right.png), url(../images/cursors/cursor_arrow_right.cur),e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(../images/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}
/* Ribbon */
.ribbon {
 font-size: 18px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 position: relative;
 background: #F3327F;
 color: #fff;
 text-align: center;
 padding: 20px 20px; /* Adjust to suit */
 margin: 0;
 font-family: "omnes-pro", arial, sans-serif;
}
.ribbon .ribbon-content:before {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -20px;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 20px 0 0 20px;
}

.ribbon {
	background-color: #F3327F;
	height: 40px;
	color: white;
}
a.album_holder {
	float: left;
	display: inline-block;
	margin: 20px 25px 20px 25px;
	position: relative;
	width: 200px;
	height: 140px;
	text-align:center;
}
a.album_holder img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: white;
	width: 200px;
	height: 140px;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
a.album_holder img:nth-child(3) { margin-top: -8px;}
a.album_holder img:nth-child(2) { margin: -4px 0 0 2px; width: 196px;}
a.album_holder img:nth-child(1) { margin: 0 0 0 4px; width: 192px;}

